<ion-header-bar align-title="center" no-tap-scroll="true" class="bar-positive">

<button class="back_chevron button-clear" ng-click="goBack()" ng-show="showBack"><i class="ion-chevron-left"></i></button>
	
	<div class="hamburger" ng-class="{true: 'back_present'}[showBack]">
		<span ng-show="_newAlerts > 0" class="alert_badge">{{ _newAlerts }}</span>
		<button class="header_btn header_btn_animate" ng-class="{true: 'menu_open', false: 'menu_close'}[menuStatus._isOpen]" on-tap="hamburgerAction();">
			<span></span><span></span><span></span>
		</button>
	</div>
		
		<h1 class="title">&nbsp;</h1>

      <button id="call" class="button button-clear">
        <span></span>Call us
      </button>


</ion-header-bar> 