.platform-android {
	.pass.first {
	    section{
		    -webkit-animation-delay: 1800ms;
		    animation-delay: 1800ms;
	    }
	}
}
.pass.first {
	&.formShow{
		display:block;
		background-image: URL('../img/pass_cards/background.png');
	}
    &.formHide{
    	display:none;
    	background-image:none;
    }
	background-position-y:228px;
	@media screen and (min-width: $five) {
	    background-position-y:268px;
  	}
	-webkit-transform: translateZ(0);
    transform: translateZ(0);

	-webkit-animation-fill-mode: forwards;
    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 750ms;
    -webkit-animation-delay: 1000ms;

	animation-fill-mode: forwards;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 750ms;
    animation-delay: 1000ms;
    section{
    	opacity:0;

    	-webkit-animation-fill-mode: forwards;
	    -webkit-animation-name: dropBody;
	    -webkit-animation-iteration-count: 1;
	    -webkit-animation-timing-function: ease-in;
	    -webkit-animation-duration: 300ms;
	    -webkit-animation-delay: 1500ms;

		animation-fill-mode: forwards;
	    animation-name: dropBody;
	    animation-iteration-count: 1;
	    animation-timing-function: ease-in;
	    animation-duration: 300ms;
	    animation-delay: 1500ms;
    }
}
.pass{
	&.form_show{
		display:block;
		background-image: URL('../img/pass_cards/background.png');
	}
    background-color: $tmo;
    background-size: cover;
	form{
		font-family: RobotoCondensed-Light, Helvetica, Arial;
		width: 84%;
		margin: 0 8%;
		top:16%;
		@media screen and (min-width: $five) {
		    top:18%;
  		}
		position:absolute;
		font-size:11px;
		line-height:1.4em;
		@media screen and (min-width: $five) {
		    font-size:13px;
  		}
  		h4{
  			font-family: RobotoCondensed-Regular, Helvetica, Arial;
  		}
		h4, p, label, li {color:#fff;}
		h4{font-size:20px}
		ul{
			list-style: disc inside none;
		}
		.agree{
			display:inline-block;
			font-size:16px;
			font-family: RobotoCondensed-Light, Helvetica, Arial;
		}
	}
    button.primaryCta{
		width: 100%;
	    display: block;
	    background: URL('../img/pass_cards/Agree_and_continue_btn.png') no-repeat;
	    background-size: 90%;
	    background-position: center;
	    border:none;
	    height: 4em;
	    margin: 0 auto;
	    text-align: center;
	    position: absolute;
	    bottom: 8%;
	    overflow: hidden;
	    &.click:after{
    	    content: '';
		    position: absolute;
		    top: 6%;
		    left: 5%;
		    background-color: $tmoDark;
		    width: 90%;
		    height: 90%;
		    opacity: 0;
		    border-radius: 36px;
		    overflow: hidden;
		    box-shadow: inset 0 0 40px #6a6a6a;
		}
	    &:disabled{background-image: URL('../img/pass_cards/Agree_and_continue_disabled.png');} 
	    &.click.activated{
	    	opacity: 0.8;
	    }
	    &.click.activated:after{
	    	-webkit-animation: click2 200ms forwards;
	    	animation: click2 200ms forwards;
	    }
	}
	button{	
		color:#fff;
		text-decoration:none;
		display:block;
		text-align:center;
		border:none;
		background-color:transparent;
		&.skip{
			width:100%;
			position:absolute;
			bottom:2%;
		}
    } 
}

img{
	&.gifShow{
	    width: 91%;
	    position: absolute;
	    top: 206px;
	    @media screen and (min-width: $five) {
	    	top:244px;
		}
	    left: 20px;
	    z-index: 99;
	}
}

@-webkit-keyframes dropHeader {
    0% {
        background-position-y:228px;
    }
    100% {
        background-position-y:0;
    }
}
@keyframes dropHeader {
    0% {
        background-position-y:228px;
    }
    100% {
        background-position-y:0;
    }
}
@media screen and (min-width: $five) {
	@-webkit-keyframes dropHeader {
	    0% {
	        background-position-y:268px;
	    }
	    100% {
	        background-position-y:0;
	    }
	}
	@keyframes dropHeader {
	    0% {
	        background-position-y:268px;
	    }
	    100% {
	        background-position-y:0;
	    }
	}
}

@-webkit-keyframes dropBody {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes dropBody {
 	0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes click2 {
	0% {
		-webkit-transform: scale3d(0.6, 0.6, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	25%, 75% {
		opacity: .3;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1.0, 1.0, 1);
		transform: scale3d(1.0, 1.0, 1);
	}
}

@keyframes click2 {
	0% {
		-webkit-transform: scale3d(0.6, 0.6, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	25%, 75% {
		opacity: .3;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1.0, 1.0, 1);
		transform: scale3d(1.0, 1.0, 1);
	}
}

// Mixin for keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

// Mixin for animations
@mixin animation($prop) {
  -webkit-animation: $prop;
  -moz-animation: $prop;
  -o-animation: $prop;
  animation: $prop;
}

// Create animation called 'check'
@include keyframes(check) {
  0% { height: 0; width: 0; }
  25% { height: 0; width: 10px; }
  50% { height: 20px; width: 10px; }
}


// Create the backgrounds for the checkboxes
.checkbox{
  background-color: #fff;
  display: inline-block;
  height: 30px;
  margin: 0 0.25em;
  width: 30px;
  position: relative;
  top: 9px;
  // This label functions as actual clickable area, because the default checkbox is rubbish
  label {
    display: block;
    height: 30px;
    position: relative;
    width: 30px;
    
    // This is the pseudo-element for the check mark
    &:after {
      /*
      This element has a border on the right, and top. By rotating it looks like a check symbol, but the wrong way. That's why I'm flipping it with scaleX(-1)
      */
      @include transform(scaleX(-1) rotate(180deg + -45deg));
      
      /*
      I want to position the symbol using the left top, because when increasing the width and height of an object, it expands from the top left corner as well. That is what makes it looks like it's being drawn.
      */
      @include transform-origin(left, top);
      
      // The borders
      border-right: 4px solid #cee;
      border-top: 4px solid #cee;
      
      // Positioning and stuff
      content: '';
      display: block;
      height: 20px;
      left: -2px;
      position: absolute;
      top: 10px;
      width: 10px;
    }
    
    // Change the colour when you hover
    &:hover:after { border-color: #bdd; }
  }
  
  // Hide the input!
  input { display: none; }
  
  // When the input is checked (by clicking the label), I wan't the animation to run and the colour to change.
  input:checked + label:after {
    @include animation(check 0.3s);
    border-color: #bb0060;
  }
}